*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --main-color:#344e41;
    --secondry-color:#588157;
    --text-color:#dad7cd;
}
.container{
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}